<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Centering controller node -->
  <node pkg="graph-planner" type="centering_ground.py" name="centering" output="screen">
    <!-- Inputs (Subscribed Topic Names) -->
    <!-- LiDAR Data -->
    <remap from="points" to="/X1/points"/>

    <!-- Outputs (Published Topic Names) -->
    <!-- Twist Command -->
    <remap from="cmd_vel" to="/X1/cmd_vel_centering"/>

    <!-- Dead End Boolean -->
    <remap from="dead_end_detected" to="node_skeleton/dead_end_detected"/>

    <!-- Parameters -->
    <!-- Forward speed in m/s -->
    <param name="speed" value="1.2"/>

    <!-- Update rate (Hz) -->
    <param name="rate" value="5.0"/>

    <!-- Max yaw rate in rad/s -->
    <param name="yaw_rate_max" value="0.4"/>

    <!-- Depth vs Azimuth plot window -->
    <param name="plot" value="0"/>

    <param name="min_peak_height" value="5.0"/>
  </node>
</launch>