<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Map to Graph Node -->
  <node pkg="graph-planner" type="map2graph.py" name="map2graph" output="screen">
    <!-- Inputs (Subscribed Topic Names) -->
    <remap from="odometry" to="/husky_odom"/>
    <!-- <remap from="odometry" to="/X1/odometry"/> -->

    <!-- Map data in a PointCloud2 msg.  Either an ESDF or Occupancy grid message -->
    <!-- <remap from="pointcloud" to="/octomap_point_cloud_centers_free"/> -->
    <!-- <remap from="pointcloud" to="/voxblox_node/esdf_pointcloud"/> -->
    <remap from="occupancy" to="/map"/>

    <!-- Outputs (Published Topic Names) -->
    <remap from="node_skeleton/closest_node" to="demo/node_skeleton/closest_node"/>
    <remap from="node_skeleton/closest_edges" to="demo/node_skeleton/closest_edges"/>
    <remap from="node_skeleton/closest_node_poses" to="demo/node_skeleton/closest_node_poses"/>

    <!-- Parameters -->
    <!-- Size of the map voxels -->
    <param name="voxel_size" value="0.2"/>

    <!-- Map type is either Voxblox (ESDF) or Octomap or OccupancyGrid -->
    <param name="mapType" value="OccupancyGrid"/>

    <!-- Update rate in (Hz) -->
    <param name="rate" value="1.0"/>

    <!-- Number of voxel_size vertical slices to integrate into the 2D map representation for skeletonization -->
    <param name="num_slices" value="1"/>

    <!-- "plotting" is whether or not to output the full result maplotlib plot.  "plot_steps" is for debugging -->
    <param name="plotting" value="1"/>
    <param name="plot_steps" value="0"/>

    <!-- Gaussian kernel parameters for blurring the 2D occupancy grid -->
    <param name="map_blur" value="3.0"/>
    <param name="map_threshold" value="0.5"/>

    <!-- Seen vs Unseen filter instead of occGrid -->
    <param name="seen_unseen_filter" value="1"/>
  </node>
</launch>