<launch>
  <!-- <node pkg="rosbag" type="play" name="bag_player" args="~/Downloads/Junction_Finding_Bags/heidi-6-26-19/test3_downback_wfi_map.bag"/> -->

  <!-- Map to Graph Node -->
  <node pkg="graph-planner" type="map2graph.py" name="map2graph" output="screen">
    <!-- Inputs (Subscribed Topic Names) -->
    <remap from="odometry" to="/jackal_odom"/>
    <!-- <remap from="odometry" to="/X1/odometry"/> -->

    <!-- Map data in a PointCloud2 msg.  Either an ESDF or Occupancy grid message -->
    <remap from="pointcloud" to="/octomap_point_cloud_centers_free"/>
    <!-- <remap from="pointcloud" to="/X1/voxblox_node/esdf_pointcloud"/> -->

    <!-- Outputs (Published Topic Names) -->
    <!-- <remap from="node_skeleton/closest_node" to="/X1/node_skeleton/closest_node"/> -->
    <!-- <remap from="node_skeleton/closest_edges" to="/X1/node_skeleton/closest_edges"/> -->
    <!-- <remap from="node_skeleton/closest_node_poses" to="/X1/node_skeleton/closest_node_poses"/> -->

    <!-- Parameters -->
    <!-- Size of the map voxels -->
    <param name="voxel_size" value="0.2"/>

    <!-- Map type is either Voxblox (ESDF) or Octomap (Occupancy Grid) -->
    <param name="mapType" value="Octomap"/>

    <!-- Update rate in (Hz) -->
    <param name="rate" value="1.0"/>

    <!-- Number of voxel_size vertical slices to integrate into the 2D map representation for skeletonization -->
    <param name="num_slices" value="10"/>

    <!-- "plotting" is whether or not to output the full result maplotlib plot.  "plot_steps" is for debugging -->
    <param name="plotting" value="1"/>
    <param name="plot_steps" value="0"/>

    <!-- Gaussian kernel parameters for blurring the 2D occupancy grid -->
    <param name="map_blur" value="2.0"/>
    <param name="map_threshold" value="0.7"/>
  </node>

  <!-- Graph construction node -->
  <node name="gbm_node" pkg="gbm_pkg" type="gbm_node"  output="screen">
    <!-- Odom -->
    <!-- <remap from="odometry" to="/X1/odometry"/> -->
    <remap from="odometry" to="/jackal_odom"/>
    
    <!-- Node skeleton output topics -->
    <remap from="closest_node" to="node_skeleton/closest_node"/>
    <remap from="edge_list" to="node_skeleton/closest_edges"/>

    <!-- Custom graph msg -->
    <remap from="graph" to="node_skeleton/graph"/>

    <!-- Parameters -->
    <!-- You'll have to talk to Shakeeb -->
    <param name="sRadius" value="3.0"/>
    <param name="rRadius" value="3.0"/>
    <param name="eRadius" value="0.7"/>
  </node>

  <!-- Graph plotting in rviz node -->
  <node name="graphmsg2rviz" pkg="graph-planner" type="graphmsg2rviz.py"  output="screen">
    <!-- Graph msg -->
    <remap from="graph" to="node_skeleton/graph"/>
    <!-- Rviz topics -->
    <remap from="ExploredEdges" to="node_skeleton/rviz_plugin/ExploredEdges"/>
    <remap from="UnexploredEdges" to="node_skeleton/rviz_plugin/UnexploredEdges"/>
    <remap from="CurrentEdge" to="node_skeleton/rviz_plugin/CurrentEdge"/>

    <!-- Parameters -->
    <param name="rate" value="5.0"/>
    <param name="fixed_frame" value="world"/>
  </node>

</launch>